$1 = 1
$2 = 2
$3 = 3
$4 = 4
$5 = 5

$cartColor = rgba(255,255,255,.4)

bg-image($url)
  background url($url + '@2x.png')
  @media (-webkit-min-device-pixel-radio: 3),(min-device-pixel-radio: 3)
    background url($url + '@3x.png')

ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis 

absolute()
  position absolute
  left 0
  right 0
  bottom 0
  top 0